@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}

html {
  height: 100%;
  overflow: hidden;
}
