@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}
@plugin "daisyui/theme" {
  name: "dark";
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}

html {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 2);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50%;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-300);
  border-radius: 1000px; /* can't use 50% cause it will produce an oval */
}

/* From solidjs.com title bar to be used at bottom of backlog */
.fade {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transition: opacity 300ms, transform 300ms;
  top: 0px;
  left: 0px;
  background: linear-gradient(to right, rgb(255, 255, 255), 50%, rgba(255, 255, 255, 0));
  width: 25%;
  height: 100%;
  transform-origin: left center;
  opacity: 1;
}