package components

import (
  "github.com/pleimann/camel-do/model"
)

templ Backlog(tasks []model.Task) {
  // padding being defined in Backlog component rather than parent (App) prevents drop shadows from being clipped
  <div class="pl-4 py-4 pr-1 flex flex-col gap-2 h-full w-full overflow-y-scroll scroll-shadows">
    for _, task := range tasks {
      @TaskView(task)
    }
  </div>
} 